* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
 }

.container {
    &__listElement {
        display: flex;
    }

    &__elementContainer {
        height: fit-content;
    }

    &__elementDeleteBtn {
        height: fit-content;
        margin-left: 1rem;
    }

    &__elementDeleteBtn:hover {
        color: gray;
        background-color: beige;
    }

    &__alert-hidden {
        visibility: hidden;
    }

    &__alert-error {
        color: red;
    }

    &__alert-info {
        color: green;
    }
}
  
