a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
 }

.container {
    &__elementDeleteBtn {
        margin-left: 1rem;
    }

    &__elementDeleteBtn:hover {
        color: gray;
        background-color: beige;
    }
}
  
