@import '../shared/shared.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    &__elementDeleteBtn {
        all: initial;
        border-radius: 30%;
        display: flex;
        height: fit-content;
        width: fit-content;
    
        &:hover {
            background-color: rgb(221, 221, 221);
        }
    }

    &__submitBtn {
        all: initial;
        border-radius: 30%;
        display: flex;
        height: fit-content;
        width: fit-content;
    
        &:hover {
            background-color: rgb(221, 221, 221);
        }
    }

    &__submitBtn{
        position: relative;
        padding: 0;
        margin: 0;
            width: 26px;
            height: 26px;
            background: #fff;
            cursor: pointer;
            border: 2px solid #095776;
          &:after {
            content: '';
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            height: 10%;
            width: 60%;
            background: #095776;
          }
          
          &:before {
            content: '';
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #095776;
            height: 60%;
            width: 10%;
          }
          
          &:hover:before,
          &:hover:after {
            background: #fff;
            transition: 0.17s;
          }
          
          &:hover {
            background-color: #095776;
            transition: 0.17s;
          }
    }
}


